openapi: 3.0.3
info:
  title: Mímir API
  description: |
    Centrale OData-cache voor Business Central. Clients authenticeren met een API-sleutel
    (`Authorization: Bearer` of `X-API-Key`). Rijen worden gedeeld over sleutels; `meta.shared`
    / `meta.bc_hit` meten of Business Central nog nodig was.

    Webservice-metadata (welke tabellen en velden er zijn): `GET /metadata.php`, ook met de
    ingelogde sessie van de pagina.

    Cachegedrag (BC-callreductie):
    - Gefilterde JSON-queries mogen uit verse lege-filter (full-entity) dekking komen (lokaal filteren).
    - Full-entity fetches naar BC sturen geen `$select`; het antwoord projecteert wel op `select`.
    - Overlappende ranges op één veld kunnen gap-fillen (`meta.gap_fill`).
    - Als de SQLite-cache niet bruikbaar is, komt het antwoord live uit Business Central (`meta.source=bc-live`).
  version: "1.3.0"
  contact:
    name: Koninklijke van Twist
servers:
  - url: https://sleutels.kvt.nl/mimir/api
    description: Productie
tags:
  - name: catalog
  - name: metadata
  - name: query
  - name: write
paths:
  /companies.php:
    get:
      tags: [catalog]
      summary: Bedrijven uit de nightly-cache
      operationId: listCompanies
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          description: Lijst bedrijven
          content:
            application/json:
              schema:
                type: object
                required: [value]
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      required: [name, environment]
                      properties:
                        name: { type: string }
                        environment: { type: string }
                  fetched_at:
                    type: integer
                    nullable: true
                    description: Unix-tijd van de nightly-cache
                  source:
                    type: string
                    enum: [nightly, memory, empty, live, bc-live]
                    description: bc-live als de SQLite-cache is overgeslagen en de lijst live uit Business Central komt
        "401":
          $ref: "#/components/responses/Unauthorized"
  /tables.php:
    get:
      tags: [catalog]
      summary: Entity sets voor het environment van een bedrijf
      operationId: listTables
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - name: company
          in: query
          required: true
          schema: { type: string }
        - name: q
          in: query
          required: false
          schema: { type: string }
          description: Optionele naamfilter (substring)
      responses:
        "200":
          description: Tabellen
          content:
            application/json:
              schema:
                type: object
                required: [value, environment]
                properties:
                  environment: { type: string }
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        name: { type: string }
                        entity_type: { type: string }
        "401":
          $ref: "#/components/responses/Unauthorized"
  /schema.php:
    get:
      tags: [catalog]
      summary: Schema van één tabel
      operationId: getTableSchema
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - name: company
          in: query
          required: true
          schema: { type: string }
        - name: table
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Schema
          content:
            application/json:
              schema:
                type: object
                properties:
                  name: { type: string }
                  entity_type: { type: string }
                  environment: { type: string }
                  keys:
                    type: array
                    items: { type: string }
                  properties:
                    type: array
                    items:
                      type: object
                      properties:
                        name: { type: string }
                        type: { type: string }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
  /metadata.php:
    get:
      tags: [metadata]
      summary: Webservice-metadata (alle tabellen met sleutels en velden)
      description: |
        Catalogus van alle entity sets (tabellen) van een Business Central-environment, uit
        `$metadata`: sleutels, velden met type, `nullable`, `max_length` en navigatie.
        Mímir leest dit uit een eigen cache (nightly.php ververst als die ouder is dan ~20 uur,
        of de knop Vernieuwen op de pagina); dit endpoint belt Business Central niet.
        Authenticatie: API-sleutel zoals bij query.php, of de ingelogde sessie van de pagina.
        Zonder `page` komt de hele (gefilterde) lijst terug.
      operationId: getMetadata
      security:
        - bearerAuth: []
        - apiKeyAuth: []
        - sessionAuth: []
      parameters:
        - name: environment
          in: query
          required: false
          schema: { type: string }
          description: Environment uit `$environment` in auth.php (bijv. kvtmdlive_aad of kvtgermanylive_aad). Default het eerste.
        - name: q
          in: query
          required: false
          schema: { type: string }
          description: >
            Zoekfilter, hoofdletterongevoelig substring op tabelnaam én veldnamen (zelfde filter als de pagina).
            Tabellen met een naammatch komen eerst; elke treffer krijgt `match`.
        - name: table
          in: query
          required: false
          schema: { type: string }
          description: Eén tabel (hoofdletterongevoelig). 404 als die niet bestaat.
        - name: page
          in: query
          required: false
          schema: { type: integer, minimum: 1 }
          description: Optionele paginering (1-based). Een te hoge pagina valt terug op de laatste.
        - name: per_page
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 50, default: 50 }
      responses:
        "200":
          description: Catalogus (gefilterd)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetadataCatalog"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
        "405":
          $ref: "#/components/responses/Error"
  /query.php:
    post:
      tags: [query]
      summary: Query één of meer tabellen via de cache
      operationId: query
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/SingleQuery"
                - $ref: "#/components/schemas/MultiQuery"
            examples:
              single:
                summary: Enkele tabel met range-filter
                value:
                  company: Koninklijke van Twist
                  table: ItemList
                  select: [No, Description]
                  max_age: 3600
                  top: 100
                  filter:
                    and:
                      - { field: No, op: ge, value: "WO0015" }
                      - { field: No, op: le, value: "WO0030" }
              multi:
                summary: Meerdere queries + combine
                value:
                  company: Koninklijke van Twist
                  queries:
                    - { name: items, table: ItemList, select: [No, Vendor_No], top: 1000 }
                    - { name: vendors, table: VendorList, select: [No, Name], top: 1000 }
                  combine:
                    left: items
                    right: vendors
                    left_key: Vendor_No
                    right_key: No
                    as: joined
      responses:
        "200":
          description: Queryresultaat
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/QueryResult"
                  - type: object
                    required: [results]
                    properties:
                      results:
                        type: object
                        additionalProperties:
                          $ref: "#/components/schemas/QueryResult"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
        "502":
          $ref: "#/components/responses/Error"
  "/write.php":
    post:
      tags:
        - "write"
      summary: "Rij invoegen (insert) in BC"
      description: "Schrijft live naar Business Central via OData. Alleen voor API-sleutels met \"Mag schrijven naar BC\" (`can_write`). Het environment volgt uit het bedrijf (zoals bij lezen). Nooit uit de cache, altijd binnen een BC-slot, en zonder automatische retry. Na een geslaagde write is de cache van die tabel in dat bedrijf ongeldig. Etag: zonder etag geeft PATCH/DELETE 428 `etag_required`. Overschrijven zonder versiecheck alleen expliciet met `etag: \"*\"`, `If-Match: *` of `force: true`; dat staat als `forced` in het antwoord en het schrijflog. Bijtaken (heatmap, cache-invalidatie, log) zijn best-effort: de write gaat altijd door, ook bij een open circuit; wat niet lukt komt in een pending-wachtrij."
      operationId: "writeInsert"
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/WriteRequest"
      responses:
        "201":
          description: "Gelukt"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteResult"
        "401":
          description: "Sleutel ontbreekt, is ongeldig of ingetrokken (code unauthorized). Een ingelogde sessie telt niet."
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
        "403":
          description: "Sleutel heeft geen schrijfrecht (code write_not_allowed)"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
        "400":
          description: "Ongeldig verzoek (invalid_request, invalid_table, invalid_key, invalid_field, invalid_body) of een 4xx van BC (bc_error, met bc_status en bc_error)"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
        "404":
          description: "Onbekend bedrijf (unknown_company) of tabel niet gepubliceerd in dat environment (unknown_table)"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
        "413":
          description: "JSON-body groter dan 256 KB (body_too_large)"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
        "502":
          description: "BC gaf een 5xx (bc_error) of was onbereikbaar (bc_unreachable)"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
        "503":
          description: "Alle BC-slots bezet na 120 s wachten (bc_busy), of database en sleutelspiegel niet beschikbaar (unavailable)"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
        "504":
          description: "BC antwoordde niet op tijd (bc_timeout). NIET automatisch opnieuw geprobeerd: controleer in BC of de write toch is uitgevoerd."
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
    patch:
      tags:
        - "write"
      summary: "Rij bijwerken (update) in BC"
      description: "Schrijft live naar Business Central via OData. Alleen voor API-sleutels met \"Mag schrijven naar BC\" (`can_write`). Het environment volgt uit het bedrijf (zoals bij lezen). Nooit uit de cache, altijd binnen een BC-slot, en zonder automatische retry. Na een geslaagde write is de cache van die tabel in dat bedrijf ongeldig. Vereist `key` en een etag. Etag: zonder etag geeft PATCH/DELETE 428 `etag_required`. Overschrijven zonder versiecheck alleen expliciet met `etag: \"*\"`, `If-Match: *` of `force: true`; dat staat als `forced` in het antwoord en het schrijflog. Bijtaken (heatmap, cache-invalidatie, log) zijn best-effort: de write gaat altijd door, ook bij een open circuit; wat niet lukt komt in een pending-wachtrij."
      operationId: "writeUpdate"
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - name: "If-Match"
          in: "header"
          required: false
          schema:
            type: "string"
          description: "ETag van de rij (@odata.etag). Verplicht bij PATCH en DELETE, tenzij `etag`, `data.@odata.etag` of `force: true` in de body staat. `*` = bewust zonder versiecheck (forced)."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/WriteRequest"
      responses:
        "200":
          description: "Gelukt"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteResult"
        "428":
          description: "Etag ontbreekt (etag_required). Stuur de etag, of forceer expliciet met `*` / `force: true`."
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
        "401":
          description: "Sleutel ontbreekt, is ongeldig of ingetrokken (code unauthorized). Een ingelogde sessie telt niet."
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
        "403":
          description: "Sleutel heeft geen schrijfrecht (code write_not_allowed)"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
        "400":
          description: "Ongeldig verzoek (invalid_request, invalid_table, invalid_key, invalid_field, invalid_body) of een 4xx van BC (bc_error, met bc_status en bc_error)"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
        "404":
          description: "Onbekend bedrijf (unknown_company) of tabel niet gepubliceerd in dat environment (unknown_table)"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
        "413":
          description: "JSON-body groter dan 256 KB (body_too_large)"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
        "502":
          description: "BC gaf een 5xx (bc_error) of was onbereikbaar (bc_unreachable)"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
        "503":
          description: "Alle BC-slots bezet na 120 s wachten (bc_busy), of database en sleutelspiegel niet beschikbaar (unavailable)"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
        "504":
          description: "BC antwoordde niet op tijd (bc_timeout). NIET automatisch opnieuw geprobeerd: controleer in BC of de write toch is uitgevoerd."
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
    delete:
      tags:
        - "write"
      summary: "Rij verwijderen in BC"
      description: "Schrijft live naar Business Central via OData. Alleen voor API-sleutels met \"Mag schrijven naar BC\" (`can_write`). Het environment volgt uit het bedrijf (zoals bij lezen). Nooit uit de cache, altijd binnen een BC-slot, en zonder automatische retry. Na een geslaagde write is de cache van die tabel in dat bedrijf ongeldig. Vereist `key` en een etag. Etag: zonder etag geeft PATCH/DELETE 428 `etag_required`. Overschrijven zonder versiecheck alleen expliciet met `etag: \"*\"`, `If-Match: *` of `force: true`; dat staat als `forced` in het antwoord en het schrijflog. Bijtaken (heatmap, cache-invalidatie, log) zijn best-effort: de write gaat altijd door, ook bij een open circuit; wat niet lukt komt in een pending-wachtrij."
      operationId: "writeDelete"
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - name: "If-Match"
          in: "header"
          required: false
          schema:
            type: "string"
          description: "ETag van de rij (@odata.etag). Verplicht bij PATCH en DELETE, tenzij `etag`, `data.@odata.etag` of `force: true` in de body staat. `*` = bewust zonder versiecheck (forced)."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/WriteRequest"
      responses:
        "200":
          description: "Gelukt"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteResult"
        "428":
          description: "Etag ontbreekt (etag_required). Stuur de etag, of forceer expliciet met `*` / `force: true`."
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
        "401":
          description: "Sleutel ontbreekt, is ongeldig of ingetrokken (code unauthorized). Een ingelogde sessie telt niet."
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
        "403":
          description: "Sleutel heeft geen schrijfrecht (code write_not_allowed)"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
        "400":
          description: "Ongeldig verzoek (invalid_request, invalid_table, invalid_key, invalid_field, invalid_body) of een 4xx van BC (bc_error, met bc_status en bc_error)"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
        "404":
          description: "Onbekend bedrijf (unknown_company) of tabel niet gepubliceerd in dat environment (unknown_table)"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
        "413":
          description: "JSON-body groter dan 256 KB (body_too_large)"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
        "502":
          description: "BC gaf een 5xx (bc_error) of was onbereikbaar (bc_unreachable)"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
        "503":
          description: "Alle BC-slots bezet na 120 s wachten (bc_busy), of database en sleutelspiegel niet beschikbaar (unavailable)"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
        "504":
          description: "BC antwoordde niet op tijd (bc_timeout). NIET automatisch opnieuw geprobeerd: controleer in BC of de write toch is uitgevoerd."
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
  "/write_log.php":
    get:
      tags:
        - "write"
      summary: "Schrijflog van de eigen API-sleutel"
      operationId: "writeLog"
      description: "Alleen de writes van de sleutel waarmee je aanroept, nieuwste eerst. Bij een open circuit uit het jsonl-bestand (source=file, zonder paginering)."
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            default: 50
            minimum: 1
            maximum: 200
        - name: "since"
          in: "query"
          schema:
            type: "string"
          description: "Unix-tijd of ISO-datum/tijd (Europe/Amsterdam)"
        - name: "before_id"
          in: "query"
          schema:
            type: "integer"
          description: "Paginering: next_before_id uit het vorige antwoord"
        - name: "table"
          in: "query"
          schema:
            type: "string"
        - name: "company"
          in: "query"
          schema:
            type: "string"
      responses:
        "200":
          description: "Logregels"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  value:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/WriteLogEntry"
                  next_before_id:
                    type: "integer"
                    nullable: true
                  source:
                    type: "string"
                    enum:
                      - "sqlite"
                      - "file"
                  key_id:
                    type: "integer"
                  limit:
                    type: "integer"
        "400":
          description: "Ongeldige parameter (invalid_request, invalid_table)"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
        "401":
          description: "Sleutel ontbreekt of is ongeldig (unauthorized)"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WriteError"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API-sleutel als Authorization Bearer (mimir_…)'
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    sessionAuth:
      type: apiKey
      in: cookie
      name: PHPSESSID
      description: Ingelogde SSO-sessie van de Mímir-pagina (alleen metadata.php). De cookienaam volgt de login-configuratie.
  responses:
    Unauthorized:
      description: Ontbrekende of ongeldige sleutel
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorBody"
    Error:
      description: Client- of upstreamfout
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorBody"
  schemas:
    ErrorBody:
      type: object
      required: [error]
      properties:
        error: { type: string }
    FilterLeaf:
      type: object
      required: [field, op, value]
      properties:
        field: { type: string }
        op:
          type: string
          enum: [eq, ne, gt, ge, lt, le, contains, startswith, endswith]
        value:
          nullable: true
    FilterNode:
      description: JSON-filterboom of (elders) een OData $filter-string
      oneOf:
        - $ref: "#/components/schemas/FilterLeaf"
        - type: object
          properties:
            and:
              type: array
              items: { $ref: "#/components/schemas/FilterNode" }
            or:
              type: array
              items: { $ref: "#/components/schemas/FilterNode" }
            xor:
              type: array
              items: { $ref: "#/components/schemas/FilterNode" }
        - type: string
          description: OData $filter-string naar BC. Eenvoudige Field eq true/false of Field eq 'literal' wordt ook lokaal toegepast; complexere strings niet uit coverage.
          minLength: 1
          maxLength: 32768
    SingleQuery:
      type: object
      required: [company, table]
      properties:
        company: { type: string }
        table: { type: string }
        entity:
          type: string
          description: Alias voor table
        select:
          type: array
          items: { type: string }
          description: Projectie in het API-antwoord (BC-$select volgt apart cachebeleid)
        filter:
          $ref: "#/components/schemas/FilterNode"
        max_age:
          type: integer
          minimum: 0
          maximum: 31536000
          default: 3600
        top:
          type: integer
          minimum: 0
          maximum: 10000
          default: 100
          description: 0 = ongelimiteerd (geen $top naar BC; nextLink + Prefer maxpagesize). Positief = $top-plafond.
    MultiQuery:
      type: object
      required: [queries]
      properties:
        company:
          type: string
          description: Default company voor child queries
        max_age:
          type: integer
        queries:
          type: array
          minItems: 1
          maxItems: 8
          items:
            allOf:
              - $ref: "#/components/schemas/SingleQuery"
              - type: object
                properties:
                  name:
                    type: string
                    pattern: '^[A-Za-z_][A-Za-z0-9_]*$'
        combine:
          type: object
          description: v1 inner equijoin na ophalen (geen BC-join)
          properties:
            left: { type: string }
            right: { type: string }
            left_key: { type: string }
            right_key: { type: string }
            as: { type: string, default: joined }
    QueryMeta:
      type: object
      properties:
        environment: { type: string }
        from_cache: { type: integer }
        from_live: { type: integer }
        shared:
          type: integer
          enum: [0, 1]
          description: 1 als volledig uit andermans/legacy cache zonder BC
        bc_hit:
          type: integer
          enum: [0, 1]
          description: 1 zodra Business Central werd aangeroepen
        gap_fill:
          type: integer
          enum: [1]
          description: Gezet bij row-level range gap fill
        max_age: { type: integer }
        fetched_at_min: { type: integer, nullable: true }
        fetched_at_max: { type: integer, nullable: true }
        bc_filter: { type: string, nullable: true }
        filter_mode:
          type: string
          enum: [none, bc, mixed, local]
        filter_note: { type: string, nullable: true }
        filter_batches: { type: integer }
        queue_wait_ms:
          type: integer
          description: Milliseconden gewacht op een BC-concurrency-slot (0 als het slot direct vrij was of het antwoord volledig uit cache komt)
        bc_slots_used:
          type: integer
          description: Actieve BC-slots voor dit environment op het moment van de response (0 bij pure cache)
        bc_slots_max:
          type: integer
          description: Max gelijktijdige live BC-fetches per environment (default 3)
        source:
          type: string
          enum: [bc-live]
          description: >
            Aanwezig en gelijk aan bc-live wanneer Mímir de cache heeft overgeslagen
            (circuit open, of SQLite locked/onleesbaar/readonly/corrupt) en het antwoord
            rechtstreeks uit Business Central komt, in hetzelfde response-formaat.
            Afwezig bij normaal cachegedrag.
    MetadataCatalog:
      type: object
      required: [environment, environments, total, matched, entity_sets]
      properties:
        environment: { type: string }
        environments:
          type: array
          items: { type: string }
          description: Environments uit $environment in auth.php (keuze voor de parameter environment)
        fetched_at:
          type: integer
          nullable: true
          description: Unix-tijd waarop `$metadata` is opgehaald (null als er nog geen catalogus is)
        fetched_at_label:
          type: string
          description: Leesbaar, Europe/Amsterdam, bijv. "6 oktober 2026, 13:40"
        total: { type: integer, description: Aantal tabellen in het environment }
        matched: { type: integer, description: Aantal tabellen na q/table }
        q: { type: string }
        page: { type: integer, description: Alleen bij paginering }
        pages: { type: integer, description: Alleen bij paginering }
        per_page: { type: integer, description: Alleen bij paginering }
        note: { type: string, description: Uitleg als er nog geen catalogus is }
        entity_sets:
          type: array
          items:
            $ref: "#/components/schemas/MetadataEntitySet"
    MetadataEntitySet:
      type: object
      required: [name, entity_type, keys, properties]
      properties:
        name: { type: string, description: "Entity set (tabel), bijv. ItemList" }
        entity_type: { type: string, description: "Gekwalificeerd type, bijv. NAV.ItemList" }
        keys:
          type: array
          items: { type: string }
        properties:
          type: array
          items:
            type: object
            required: [name, type, nullable]
            properties:
              name: { type: string }
              type: { type: string, description: "Edm-type, bijv. Edm.String of Edm.Decimal" }
              nullable: { type: boolean }
              max_length: { type: integer }
        navigation:
          type: array
          items:
            type: object
            properties:
              name: { type: string }
              type: { type: string }
        match:
          type: object
          description: Alleen met q
          properties:
            name: { type: boolean, description: q komt voor in de tabelnaam }
            fields:
              type: array
              items: { type: string }
              description: Velden waarin q voorkomt
    QueryResult:
      type: object
      required: [value, meta]
      properties:
        value:
          type: array
          items:
            type: object
            additionalProperties: true
        meta:
          $ref: "#/components/schemas/QueryMeta"
    WriteRequest:
      type: "object"
      required:
        - "company"
        - "table"
      properties:
        company:
          type: "string"
          description: "Bedrijfsnaam; bepaalt het environment"
        table:
          type: "string"
          pattern: "^[A-Za-z_][A-Za-z0-9_]*$"
          description: "Entity set die in de metadata van dat environment staat"
        key:
          type: "object"
          additionalProperties: true
          description: "Alle sleutelvelden uit de metadata, bv. {\"No\": \"1000\"}. Verplicht bij PATCH en DELETE"
        etag:
          type: "string"
          description: "Alternatief voor de header If-Match. `*` = overschrijven zonder versiecheck (forced)"
        data:
          type: "object"
          additionalProperties: true
          description: "Velden voor BC (alleen bekende velden). Verplicht bij POST en PATCH"
        force:
          type: "boolean"
          default: false
          description: "Alias voor etag `*`: bewust overschrijven zonder versiecheck. Niet samen met een echte etag (400)"
    WriteResult:
      type: "object"
      required:
        - "ok"
        - "method"
        - "company"
        - "table"
        - "environment"
        - "bc_status"
      properties:
        ok:
          type: "boolean"
        method:
          type: "string"
          enum:
            - "POST"
            - "PATCH"
            - "DELETE"
        company:
          type: "string"
        table:
          type: "string"
        environment:
          type: "string"
        bc_status:
          type: "integer"
        etag:
          type: "string"
          nullable: true
        value:
          type: "object"
          nullable: true
          additionalProperties: true
          description: "De rij zoals BC hem teruggaf (null bij DELETE)"
        meta:
          type: "object"
          properties:
            source:
              type: "string"
              enum:
                - "bc-live"
            cache_invalidated:
              type: "boolean"
            queue_wait_ms:
              type: "integer"
        forced:
          type: "boolean"
          description: "true als er zonder versiecheck (etag *) is geschreven"
    WriteError:
      type: "object"
      required:
        - "error"
        - "code"
      properties:
        error:
          type: "string"
        code:
          type: "string"
          enum:
            - "unauthorized"
            - "write_not_allowed"
            - "method_not_allowed"
            - "invalid_request"
            - "invalid_table"
            - "invalid_key"
            - "invalid_field"
            - "invalid_body"
            - "body_too_large"
            - "etag_required"
            - "unknown_company"
            - "unknown_table"
            - "bc_error"
            - "bc_timeout"
            - "bc_unreachable"
            - "bc_busy"
            - "unavailable"
            - "internal_error"
        bc_status:
          type: "integer"
        bc_error:
          type: "object"
          properties:
            code:
              type: "string"
            message:
              type: "string"
        environment:
          type: "string"
    WriteLogEntry:
      type: "object"
      properties:
        id:
          type: "integer"
        logged_at:
          type: "integer"
          description: "Unix-tijd"
        logged_at_label:
          type: "string"
          description: "Europe/Amsterdam, Y-m-d H:i:s"
        method:
          type: "string"
          enum:
            - "POST"
            - "PATCH"
            - "DELETE"
        company:
          type: "string"
        environment:
          type: "string"
        table:
          type: "string"
        status:
          type: "integer"
          description: "HTTP-status van de write (BC-status, of de Mímir-fout)"
        duration_ms:
          type: "integer"
        fields:
          type: "array"
          items:
            type: "string"
          description: "Alleen veldnamen, geen waarden"
        forced:
          type: "boolean"
        bc_called:
          type: "boolean"
        error:
          type: "string"
          nullable: true
